<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>成都高新基社局-人事管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/main/css/style.css"/>
    <link rel="stylesheet" href="/main/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/main/css/nav.css"/>
</head>
<body>
<div id="container" style="overflow: hidden">
    <div id="bd">
        <div class="sidebar">
            <div class="sidebar-bg"></div>
            <i class="sidebar-hide"></i>
            <h2>
                <a href="javascript:;">
                    <i class="h2-icon" title="切换到树型结构"></i>
                    <span>菜单</span>
                </a>
            </h2>
            <ul class="nav">
                <li class="nav-li current" href="/main/content" data-id="1">
                    <a href="javascript:;" class="ue-clear">
                        <i class="nav-ivon"></i>
                        <span class="nav-text">首页</span>
                    </a>
                </li>
            </ul>
            <ul class="nav" th:each="menu : ${cdList}">
                <li class="nav-li">
                    <a href="javascript:;" class="ue-clear">
                        <i class="nav-ivon"></i>
                        <span class="nav-text" th:text="${menu.text}"></span>
                    </a>
                    <ul class="subnav" th:each="child : ${menu.nodes}">
                        <li class="subnav-li" th:href="${child.page}" th:data-id="${child.id}">
                            <a href="javascript:;" class="ue-clear">
                                <i class="subnav-icon"></i>
                                <span class="subnav-text" th:text="${child.text}"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="title">
                <i class="sidebar-show"></i>
                <ul class="tab ue-clear">

                </ul>
                <i class="tab-more"></i>
                <i class="tab-close"></i>
            </div>
            <div class="content">
            </div>
        </div>
    </div>
</div>

<div class="more-bab-list">
    <ul></ul>
    <div class="opt-panel-ml"></div>
    <div class="opt-panel-mr"></div>
    <div class="opt-panel-bc"></div>
    <div class="opt-panel-br"></div>
    <div class="opt-panel-bl"></div>
</div>
</body>

<script type="text/javascript" src="/main/js/jquery.js"></script>
<script type="text/javascript" src="/main/js/global.js"></script>
<script type="text/javascript" src="/main/js/nav.js"></script>
<script type="text/javascript" src="/main/js/Menu.js"></script>
<script type="text/javascript" src="/main/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript">
    var menu = new Menu({
        defaultSelect: $('.nav').find('li[data-id="1"]')
    });

    $(document).click(function (e) {
        if (!$(e.target).is('.tab-more')) {
            $('.tab-more').removeClass('active');
            $('.more-bab-list').hide();
        }
    });
</script>
</html>