<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单维护</title>
    <!-- 引入公共页面 -->
    <link rel="import" href="/include"/>
</head>
<body>
<div class="container" style="padding: 0px;">
    <div id="tree" class="ztree" style="padding-top: 5px; overflow: auto;"></div>
    <div class="text-center" style="padding: 10px;">
        <input type="hidden" id="type" name="type" th:value="${type}" >
        <button class="btn btn-primary" onclick="doSelect()">选择</button>
    </div>
</div>

<script type="text/javascript">
    //定义变量
    var treeObj;

    //页面初始化方法
    $(function () {
        $('#tree').height($(window).height() - 65);
        //初始化树
        treeObj = $.fn.zTree.init($("#tree"), {
            async: {    //ztree异步请求数据
                enable: true,
                url: "/cd/getCdTree",//请求action方法
                autoparam: ["id"],
                otherParam: function () {
                    return treeParam;
                },
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "cdid",
                    pIdKey: "pcdid",
                    rootPId: ""
                },
                key: {
                    name: "cdmc",
                    url: ""
                }
            },
            view: {
                showLine: true,//显示连接线
                showIcon: false//显示节点图片
            },
            callback: {
                onAsyncSuccess: function () {
                    treeObj.expandAll(true);
                }
            }
        });
    });

    //选择
    function doSelect() {
        var nodes = treeObj.getSelectedNodes();
        if (nodes.length <= 0) {
            layer.msg("请先选择一条记录！");
            return false;
        }
        var node = nodes[0];

        // 取得type值
        var type = $("#type").val();
        if (type == "cd") {
            var addIframe = parent.$("#addPop").find('iframe')[0].contentWindow;
            // 上级页面选择菜单赋值
            addIframe.selectedDwInfo(node);
            //关闭弹框
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        } else if (type == "sq") {
            // 上级页面选择菜单赋值
            parent.selectedDwInfo(node);
            //关闭弹框
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }

        /*addIframe.$("#pcdid").val(node.cdid);
        addIframe.$("#pcdmc").val(node.cdmc).change();
        //重新验证
        addIframe.$('#cdwhForm').data('bootstrapValidator')
            .updateStatus('pcdmc', 'NOT_VALIDATED', null)
            .validateField('pcdmc');*/

    }
</script>
</body>
</html>