<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单维护</title>
    <!-- 引入公共页面 -->
    <link rel="import" href="/include"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="panel panel-default" style="margin: 10px 0px 0px 0px;">
                <div class="panel-heading">菜单树</div>
                <div id="treeBody" class="panel-body" style="padding: 5px; overflow: auto;">
                    <div id="tree" class="ztree"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9" style="padding-left: 0px;">
            <div id="toolbar" class="text-right">
                <button class="btn btn-info" onclick="doAdd();">添加</button>
            </div>
            <table id="cdwhTable"></table>
        </div>
    </div>

    <script type="text/javascript">
        $("#treeBody").height($(window).height() - 96);
        var treeObj;
        var treeParam;
        var lastNodeId;
        var tableObj;
        $(function () {
            //初始化树
            treeObj = $.fn.zTree.init($("#tree"), {
                async: {    //ztree异步请求数据
                    enable: true,
                    url: "/cd/getCdTree",//请求action方法
                    autoparam: ["id"],
                    otherParam: function () {
                        return treeParam;
                    },
                },
                data: {
                    simpleData: {
                        enable: true,//如果设置为 true，请务必设置 setting.data.simpleData 内的其他参数: idKey / pIdKey / rootPId，并且让数据满足父子关系。
                        idKey: "cdid",
                        pIdKey: "pcdid",
                        rootPId: ""
                    },
                    key: {
                        name: "cdmc",
                        url: ""
                    }
                },
                view: {
                    showLine: true,//显示连接线
                    showIcon: false//显示节点图片
                    //fontCss: {color:"red"}
                    //fontCss: setFontCss//节点颜色
                },
                callback: {
                    //beforeClick: zTreeBeforeClick,
                    onAsyncSuccess: function () {
                        treeObj.expandAll(true);
                        if (lastNodeId) {
                            var lastNode = treeObj.getNodeByParam("cdid", lastNodeId, null);
                            treeObj.selectNode(lastNode);
                        } else {
                            treeObj.selectNode(treeObj.getNodes()[0]);
                        }
                    },
                    onClick: function (event, treeId, treeNode) {
                        lastNodeId = treeNode.cdid;
                        $("#cdwhTable").bootstrapTable('refresh');
                    }
                }
            });

            //初始化表格
            tableObj = $("#cdwhTable").bootstrapTable({
                url: '/cd/getPage',
                method: 'get',
                dataType: "json",
                striped: true,//设置为 true 会有隔行变色效果
                pagination: true, //分页
                pageSize: 10,//如果设置了分页，页面数据条数
                search: true, //显示搜索框
                toolbar: '#toolbar',
                sidePagination: "server", //服务端处理分页
                responseHandler: function (res) { //获取返回的数据的时候做相应处理，让bootstrap table认识我们的返回格式
                    return {
                        "rows": res.content, // 具体每一个bean的列表
                        "total": res.totalElements  // 总共有多少条返回数据
                    }
                },
                queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是分页用的
                    var pcdid = "root";
                    if (treeObj) {
                        var nodes = treeObj.getSelectedNodes();
                        if (nodes.length == 1) {
                            var node = nodes[0];
                            pcdid = node.cdid;
                        }
                    }
                    return $.extend(params, {pcdid: pcdid});
                },
                idField: "userId",//指定主键列
                columns: [
                    {
                        title: '菜单名称',
                        field: 'cdmc',
                        align: 'left',
                        width: '200'
                    },
                    /*{
                        title: '菜单类型',
                        field: 'cdlx',
                        align: 'center',
                        formatter: function (value, row, index) {//自定义显示，这三个参数分别是：value该行的属性，row该行记录，index该行下标
                            return row.cdlx == 1 ? "业务单元" : "业务功能";
                        }
                    },*/
                    {
                        title: '页面地址',
                        field: 'pcpage',
                        align: 'left'
                    },
                    {
                        title: '显示顺序',
                        field: 'xssx',
                        align: 'center',
                        width: '100'
                    },
                    {
                        title: '状态',
                        field: 'dqzt',
                        align: 'center',
                        width: '100'
                    },
                    {
                        title: '操作',
                        field: 'cdid',
                        align: 'center',
                        width: '100',
                        formatter: function (value, row, index) {//自定义显示可以写标签哦~
                            return '<a href="#" mce_href="#" onclick="doUpdate(\'' + row.cdid + '\')">修改</a> &nbsp;' +
                                '<a href="#" mce_href="#" onclick="doDelete(\'' + row.cdid + '\')">删除</a> ';
                        }
                    }

                ]
            });

            //table加载成功后的监听函数
            tableObj.on('load-success.bs.table', function (data) {
                $(".pull-right").css("display", "block");
            });

        });

        //添加
        function doAdd() {
            //获取选择的上级菜单
            var pcdid = "root";
            if (treeObj) {
                var nodes = treeObj.getSelectedNodes();
                if (nodes.length == 1) {
                    var node = nodes[0];
                    pcdid = node.cdid;
                }
            }

            //打开弹框
            layer.open({
                id: 'addPop',
                title: '添加',
                area: ['60%', '80%'],
                type: 2,
                content: '/cd/edit/null/' + pcdid
            });
        }

        //修改
        function doUpdate(cdid) {
            layer.open({
                title: '修改',
                area: ['60%', '80%'],
                type: 2,
                content: '/cd/edit/' + cdid + "/null"
            });
        }

        //删除
        function doDelete(cdid) {
            layer.confirm('确定删除?', {icon: 3, title: '提示'}, function (index_confirm) {
                // 打开遮罩
                var index_load = layer.load({shade: [1, '#000']});
                $.ajax({
                    type: "post",
                    url: "/cd/doDelete",
                    data: {cdid: cdid},
                    success: function (result) {
                        layer.close(index_load);//关闭遮罩
                        if (result) {
                            //刷新
                            tableObj.bootstrapTable('refresh');
                            treeObj.reAsyncChildNodes(null, "refresh");
                        } else {
                            layer.msg("删除失败，请与管理员联系！");
                        }
                    },
                    error: function (xhr, status, error) {
                        layer.close(index_load);//关闭遮罩
                        layer.msg("保存失败，请稍后重试！");
                    }
                });
                layer.close(index_confirm);
            });
        }
    </script>
</div>
</body>
</html>