<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>成都高新基社局-人事管理系统</title>
    <!-- 引入公共页面 -->
    <link rel="import" href="./include"/>
    <!-- md5 -->
    <script th:src="@{/webjars/md5/0.3.0/build/md5.min.js}"></script>
    <!-- 自定义样式、脚本 -->
    <link th:href="@{/login/css/login.css}" href="/login/css/login.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="form row">
        <form class="form-horizontal col-sm-offset-4 col-md-offset-4 col-md-4" id="login_form" method="post">
            <br/><br/><br/><br/><br/><br/>
            <h3 class="form-title text-center">人事管理系统</h3>
            <br/>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
                        <input class="form-control required" type="text" placeholder="Username" autofocus="autofocus"
                               maxlength="20" id="userName" name="userName"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                        <input class="form-control required" type="password" placeholder="Password" maxlength="8"
                               id="userPwd" name="userPwd"/>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-success" value="登录"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/login/js/login.js}" src="/login/js/login.js" type="text/javascript"></script>
</html>